<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Я вас категорически приветствую.</title>
</head>
<body>
<span th:text="${#httpServletRequest.getHeader('User-Agent')}">Agent</span>
<span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Текущее время</span>
<table>
    <thead>
    <tr>
        <th> Имя</th>
        <th> Фамилия</th>
        <th> Отчество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, itemStat : *{foundUsers}">
        <td th:text="*{user.firstName}"></td>
        <td th:text="*{user.lastName}"></td>
        <td th:text="*{user.middleName}"/></td>
        <td><a th:href="@{/send_email(email=${user.email})}">Отправить письмо</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>