<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Я вас категорически приветствую.</title>
</head>
<body>
<form method="POST" action="/user/upload" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="Загрузить"/>
    <div th:if="${uploadMessage}">
        <h2 th:text="${uploadMessage}"/>
    </div>
</form>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <p>Имя: <input type="text" th:field="*{firstName}"/>
        <b th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></b>
    </p>
    <p>Отчество: <input type="text" th:field="*{middleName}"/>
        <b th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></b>
    </p>
    <p>Фамилия: <input type="text" th:field="*{lastName}"/>
        <b th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></b>
    </p>
    <p>Возраст: <input type="text" th:field="*{age}"/>
        <b th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></b>
    </p>
    <p>Зарплата: <input type="text" th:field="*{salary}"/>
        <b th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></b>
    </p>
    <p>email: <input type="text" th:field="*{email}"/>
        <b th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></b>
    </p>
    <p>Место работы: <input type="text" th:field="*{work}"/>
        <b th:if="${#fields.hasErrors('work')}" th:errors="*{work}"></b>
    </p>
    <p><input type="submit" value="Сохранить"/><input type="reset" value="Отмена"/></p>
</form>
</body>
</html>